/* updatePage.css */

/* 主色调 */
:root {
    --main-color: #fdb3c0;
}

/* 页面居中 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* 浅灰色 */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* 表单样式 */
.form-control {
    display: block;
    width: 250px; /* 设置一个固定宽度 */
    /* 或者使用 max-width 来限制最大宽度 */
    /* max-width: 300px; */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* 按钮样式 */
.btn {
    display: block;
    width: 100%;
    font-weight: 400;
    color: #212529;
    text-align: center;
    user-select: none;
    background-color: var(--main-color);
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover {
    background-color: #ffb6c1; /* 樱花色浅调 */
    border-color: #ffb6c1; /* 樱花色浅调 */
    color: white;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545; /* 危险色 */
    border-color: #dc3545; /* 危险色 */
}

.btn-danger:hover {
    background-color: #ff6b79; /* 浅红色 */
    border-color: #ff6b79; /* 浅红色 */
    color: white;
}